<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chef_robot">

  <xacro:include filename="iiwa.urdf.xacro"/>

  <link name="world"/>

  <xacro:iiwa parent="world" prefix="">
      <origin xyz="0 0 0.9" rpy="0 0 0"/>
  </xacro:iiwa>

  <link name="gripper_link">
    <visual>
      <geometry>
        <cylinder radius="0.02" length="0.1"/>
      </geometry>
      <material name="Grey"><color rgba="0.5 0.5 0.5 1"/></material>
    </visual>
  </link>

  <joint name="gripper_joint" type="fixed">
    <parent link="tool0"/>
    <child link="gripper_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>

  <ros2_control name="IgnitionSystem" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    
    <joint name="joint_a1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_a2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_a3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_a4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_a5">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_a6">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_a7">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find pizzeria)/config/chef_controllers.yaml</parameters>
      
      <robot_param>robot_description</robot_param>
      <robot_param_node>rsp_chef</robot_param_node>
    </plugin>
  </gazebo>

</robot>